
.sidenav {

  overflow-y: visible !important;
}


.ps{

  overflow: visible !important;
}

.sidenav .navbar-collapse{
  height: auto !important;
  max-height: none !important;
}



.event-card-popup{

  position: fixed;
  z-index: 99999 !important;
  top: 20%;
  right: -40px;
  background-color: #7c5cff;
  background-image: linear-gradient(200deg, #5e72e4 10%, #825ee4 70%);
  padding: 15px;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
  width: 300px;
  height: 350px;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  text-align: center;
  color:white;
  transition: right 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
  justify-content: center;

}

.event-card-popup img{
  max-width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;

}

.event-card-popup.show{
  right: 35px;
  opacity: 1;
  display: block;
}

.event-card-popup strong{
  font-size: 18px;
  text-align: center;
}

.event-card-popup .social-share-container a{
  text-decoration: none;
  width: 50px;
  padding: 10px;
  color: white;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.social-share-container a:hover{
  opacity: 0.7;
  transform: scale(1.2);
}


 .social-share-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  background-image: linear-gradient(200deg, #5e72e4 10%, #825ee4 100%);
  border-radius: 0 8px 8px 0;
  display: flex;
  width: 45px;
 
}

.social-share-container a {
  height: 40px;
  width: 40px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  border-radius: 4px;

}

.event-card-popup.show,
.event-card-popup.show * {
  pointer-events: auto !important;
}

.social-share-container{
  pointer-events: auto !important;

}


@media (min-width: 1200px) {
  #addEventModal .modal-dialog.modal-lg{
    margin-right: 6rem !important;
    margin-left: auto !important;
    transform: none;

  }
}