body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
.dashboard{
    display: flex;
    align-items: flex-start;
}

.colby-logo{
    display: flex;
    justify-content: center;
    align-items:  center;
    width: 50px;
    height: 40px;
    background-color: whitesmoke;
}

.colby-logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}

.nav-bar{
    position: sticky;
    height: 100vh;
    margin: 0;
    flex: 0 0 18%;
    
    color: white;
    background-color: rgb(65, 0, 157);
}

.nav-bar div:not(.settings){
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    padding: 15px;
    cursor: pointer;
    /* background-color: aqua; */
}

.nav-bar div:not(.settings):hover{
    background-color: whitesmoke;
    color:  rgb(76, 0, 157) ;
    border-radius: 30px;
}

.settings{
    color: grey;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 35px;
    padding: 5px;
}

.text-div{
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 15px;
    display: block;
}

.main-dashboard{
    display: flex;
    align-items: flex-start;
}

.middle-section{
    flex: 0 0 70%;
    margin-left: 10px;
    /* background-color: #d22b8f; */
}

.total-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}
.total-box{
    display: flex;
    flex-direction: column;
    padding: 23px 28px 23px 28px;
    background-color: rgb(195, 215, 249);
    border-radius: 12px;
    margin: 20px;
    font-weight: bold;
    font-size: 15px ;
    color: rgb(65, 0, 157);
}

.total-bar{
    width:100%;
    height: 8px;
    margin-bottom: 10px ;
    border-radius: 10px;
    background-color: rgb(65, 0, 157);
}

.right-section{
    flex: 0 0 10%;
    align-items: flex-start;
}

.attendance-container{
    padding: 50px;
    background-color: rgb(195, 215, 249);
    /* margin-left: 10px; */
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
}

.attendance-container div {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: rgb(195, 215, 249);
    border-radius: 12px;
    margin: 20px;
    font-weight: bold;
    font-size: 17px ;
    color: rgb(65, 0, 157);
}

#attendanceChart{
    width: 90%;
    max-width: 700px;
    height: auto;
    margin-top: 40px;
}

.event-performance-container{
    position: relative;
    padding: 160px;
    background-color: rgb(195, 215, 249);
    /* margin-left: 20px; */
    border-radius: 20px;
    margin-top: 10px;
}

.event-performance-container div{
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: rgb(195, 215, 249);
        border-radius: 12px;
        margin: 20px;
        font-weight: bold;
        font-size: 17px ;
        color: rgb(65, 0, 157);
}

.per-breakdown-container{
    position: relative;
    padding: 50px ;
    background-color: rgb(195, 215, 249);
    margin-left: 45px;
    margin-top: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.per-break-title{
        position: absolute;
        top: 0; left: 0;
        margin: 20px;
        background-color: rgb(195, 215, 249);
        border-radius: 12px;
        font-weight: bold;
        font-size: 17px;
        color: rgb(65, 0, 157);
}
 
.chart{
    margin-top: 5px;
    margin-left: 40px;
    justify-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
    rgb(255, 115, 0) 0% 14%,
    rgb(52, 183, 52) 14% 50%,
    rgb(108, 108, 255) 50% 75%,
    pink 75% 100%);
}

.label-display{
    display:flex;
    align-items:center;
    justify-content:space-between; 
    width:100%;
    gap:10px;
    margin-top:10px;              
}
  
.indicator-group{
    display:inline-flex;
    align-items:center;
    gap:8px;
    white-space:nowrap;
  }
  
.indicator{
    width:10px;
    height:10px;
    border-radius:20%;
    background-color:pink;  /* overridden by inline colors above */
  }
  
.indicator-text{
    font-weight:bold;
    font-size:10px;
  }

.upcoming-events-container{
    position:relative;
    padding: 6px 12px 10px; 
    background-color: rgba(195, 215, 249);
    margin-left: 45px;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: center;
}


.event-button{
    position: absolute;
    top: 5%;
    right: 10%;
    border-radius: 50%;
    padding: 3px 7px;
    font-weight: bold;
    font-size: 13px ;
    background-color: rgb(65, 0, 157);
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.event-button:hover {
    background-color: whitesmoke ;
    color: rgb(65, 0, 157);
}

.u-title{ 
    position:absolute; 
    top:0; 
    left:0; 
    margin:20px; 
    font-weight:700; 
    font-size:17px; 
    color:rgb(65,0,157); 
}

.event-row{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:16px;
  /* background:#fff; */
  border-radius:12px;
  padding:7px 20px;
  margin-top:10px;        
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
}


.event-left{
  display:flex;
  align-items:center;
  gap:12px;       
}

.circle{
  width:28px;
  height:28px;
  border-radius:50%;
  background:#d22b8f;     
}

.event-title{ 
    font-weight:600; 
    color:#222; 
    white-space: nowrap;
}

.event-id{ 
    color:#97a0ad; 
    font-size:14px; 
}

.event-when{
  font-weight:700;
  color:#222;
  margin-left:16px;
  white-space:nowrap;    
}

