body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
.dashboard{
    display: flex;
}

.colby-logo{
    display: flex;
    justify-content: center;
    align-items:  center;
    width: 50px;
    height: 40px;
    background-color: whitesmoke;
}

.colby-logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}

.nav-bar{
    position: sticky;
    height: 100vh;
    margin: 0;
    width: 100%;
    flex: 0 0 18%;
    
    color: white;
    background-color: rgb(65, 0, 157);
}

.nav-bar div:not(.settings){
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    padding: 15px;
    cursor: pointer;
    /* background-color: aqua; */
}

.nav-bar div:not(.settings):hover{
    background-color: whitesmoke;
    color:  rgb(76, 0, 157) ;
    border-radius: 30px;
}

.settings{
    color: grey;
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    padding: 15px;
}

.text-div{
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 15px;
}
