body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
.dashboard{
    display: flex;
    align-items: flex-start;
}

.colby-logo{
    display: flex;
    justify-content: center;
    align-items:  center;
    width: 50px;
    height: 40px;
    background-color: whitesmoke;
}

.colby-logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}

.nav-bar{
    position: sticky;
    height: 100vh;
    margin: 0;
    flex: 0 0 18%;
    
    color: white;
    background-color: rgb(65, 0, 157);
}

.nav-bar div:not(.settings){
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    padding: 15px;
    cursor: pointer;
    /* background-color: aqua; */
}

.nav-bar div:not(.settings):hover{
    background-color: whitesmoke;
    color:  rgb(76, 0, 157) ;
    border-radius: 30px;
}

.settings{
    color: grey;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 35px;
    padding: 5px;
}

.text-div{
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 15px;
    display: block;
}

.main-dashboard{
    display: flex;
    align-items: flex-start;
    /* background-color: aquamarine; */

}

.middle-section{
    flex: 0 0 70%;
    margin-left: 20px;
}

.total-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}
.total-box{
    display: flex;
    flex-direction: column;
    padding: 23px 28px 23px 28px;
    background-color: rgb(195, 215, 249);
    border-radius: 12px;
    margin: 20px;
    font-weight: bold;
    font-size: 15px ;
    color: rgb(65, 0, 157);
}

.total-bar{
    width:100%;
    height: 8px;
    margin-bottom: 10px ;
    border-radius: 10px;
    background-color: rgb(65, 0, 157);
}

.right-section{
    flex: 0 0 30%;
    align-items: center;
    
    /* background-color: red; */
    /* padding: 30px; */

}

.attendance-container{
    padding: 110px;
    background-color: rgb(195, 215, 249);
    margin-left: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
}

.attendance-container div {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: rgb(195, 215, 249);
    border-radius: 12px;
    margin: 20px;
    font-weight: bold;
    font-size: 17px ;
    color: rgb(65, 0, 157);
}

.event-performance-container{
    position: relative;
    padding: 160px;
    background-color: rgb(195, 215, 249);
    margin-left: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.event-performance-container div{
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: rgb(195, 215, 249);
        border-radius: 12px;
        margin: 20px;
        font-weight: bold;
        font-size: 17px ;
        color: rgb(65, 0, 157);
}

.per-breakdown-container{
    position: relative;
    padding: 160px 160px;
    background-color: rgb(195, 215, 249);
    margin-left: 75px;
    margin-top: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.per-breakdown-container div{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: rgb(195, 215, 249);
    border-radius: 12px;
    margin: 20px;
    font-weight: bold;
    font-size: 17px ;
    color: rgb(65, 0, 157);
}
 
.upcoming-events-container{
    position:relative;
    padding: 205px 160px;
    background-color: rgba(195, 215, 249, 0.601);
    margin-left: 75px;
    margin-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: center;

}

.upcoming-events-container div{
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 90px;
    flex-direction: column;
    /* background-color: rgb(16, 61, 138); */
    border-radius: 12px;
    margin: 20px;
    font-weight: bold;
    font-size: 17px ;
    color: rgb(65, 0, 157);
}

.event-button{
    position: absolute;
    top: 5%;
    right: 10%;
    border-radius: 50%;
    padding: 3px 7px;
    font-weight: bold;
    font-size: 13px ;
    background-color: rgb(65, 0, 157);
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.event-button:hover {
    background-color: whitesmoke ;
    color: rgb(65, 0, 157);
}

.specfic-event-container{
    display: flex;
}

.circle{
    flex: 0 0 2px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    overflow: hidden;

}
