body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color: #f8f9ff;
    min-height: 100vh;
    overflow-x: hidden;
}

.header{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sidebar-nav{
    position: sticky;
    height: 100vh;
    left: 0;
    right: 0;
    flex: 0 0 18%;
    color: white;

}

.sidebar .header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar img {
    width: 50px;
    height: 40px;
    object-fit: contain;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 6px;
    margin-top: 20%;
}

.sidebar {

    position: sticky;
    top: 0;
    height: 100vh;
    background-color: rgb(65, 0, 157);
    flex: 0 0 18%;
    
    background-color: rgb(65, 0, 157);

}

.sidebar-nav li {
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    list-style: none;
    text-align: center;
    position: relative;
    right: 10%;

}

.sidebar-nav li:hover {
    background-color:rgb(90, 20, 200);
    color: white;
    border-radius: 30px;
    justify-content: center ;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 32px 20px;
    min-height: 100vh; 
    box-sizing: border-box;
    gap: 25px;
}

.page {
    font-weight: bold;
    font-size: 28px;
    color: black;
    margin-bottom: 15px;
    position: relative;
    bottom: 100px;
}



.top-buttons {
    display: flex;
    gap: 12px;      
    margin-bottom: 15px;
    align-items: end;
    justify-content: right; 

}



.btn {
    background-color: rgb(65, 0, 157);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(90, 20, 200);
}


.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 25px;
    width: 100%;
    max-width: 900px;
}

.card-one {
    background-color: rgb(195, 215, 249);
    border-radius: 12px;
    padding: 28px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 140px;
    position: relative;
    bottom: 80px;

}

.card-name{
    color:black;
    font-weight: 600;
    position: relative;
    bottom: 70px;

}

.card-two {
    background-color: rgb(195, 215, 249);
    border-radius: 12px;
    padding: 28px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    color: black;
    font-weight: 600;
    flex: 1 1 auto; 
    min-height: 480px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}

.items {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.items thead {
    color: black;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 2;
}

.items th, .items td {
    padding: 12px 14px;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    text-align: left;
}


.event-table .event-count {

   text-align: center;


}

.event-name{
    text-align: center;
}

.card-name{
    position: relative;
    bottom: 48%;
}

#myChart{
    position: relative;
    right: 5%;

}

.event-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:#d22b8f;   
  vertical-align: middle;
  margin-right: 8px;  
}

@media (max-width: 900px) {
   

    .content {
        margin-left: 0;
        padding: 20px 12px;
    }

    .card-one, .card-two {
        width: 100%;
    }
}
